body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
    color: #282828;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
}
html, body {
    width: 100%;
    height: 100%;
}
<style>
html, body {
    cursor: url(https://i-p.rmcdn.net/65638d5…/image-1e1b8104-3424-41be-bf06-d49b561a5d0b.png), auto;
    cursor: -webkit-image-set(url(https://i-p.rmcdn.net/65638d5…/image-1e1b8104-3424-41be-bf06-d49b561a5d0b.png?w=26) 1x, url(https://i-p.rmcdn.net/65638d5…/image-1e1b8104-3424-41be-bf06-d49b561a5d0b.png) 2x), auto;
}
html, body {
    height: 100%;
    min-width: var(--min-desktop-width, 1024px);
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}
body, input {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility !important;
}
body {
    line-height: 1;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
style attribute {
    --min-desktop-width: 769px;
}
:root {
    --min-desktop-width: 1024px;
}
* ::selection {
    background-color: #A2A2A2;
