element.style {
}
<style>
.wf-11wwyt7 {
    --wf-system---typography-font-family-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    --wf-system---typography-font-family-sans-serif: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --wf-system---typography-font-family-display: Graphik, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --wf-system---typography-font-family-branded: WF Visual Sans, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    --wf-system---typography-font-family-title: var(--wf-system---typography-font-family-sans-serif);
    --wf-system---typography-font-family-heading: var(--wf-system---typography-font-family-sans-serif);
    --wf-system---typography-font-family-body: var(--wf-system---typography-font-family-sans-serif);
    --wf-system---typography-font-family-help-text: var(--wf-system---typography-font-family-sans-serif);
    --wf-system---typography-font-family-code: var(--wf-system---typography-font-family-mono);
    --wf-system---typography-font-family-branded-display-1: var(--wf-system---typography-font-family-branded);
    --wf-system---typography-font-family-branded-display-2: var(--wf-system---typography-font-family-branded);
    --wf-system---typography-font-family-branded-display-3: var(--wf-system---typography-font-family-branded);
    --wf-system---typography-font-family-branded-display-4: var(--wf-system---typography-font-family-branded);
    --wf-system---typography-font-family-branded-display-5: var(--wf-system---typography-font-family-branded);
    --wf-system---typography-font-family-branded-display-6: var(--wf-system---typography-font-family-branded);
    --wf-system---typography-font-family-branded-display-subtitle: var(--wf-system---typography-font-family-branded);
    --wf-system---typography-font-family-branded-heading: var(--wf-system---typography-font-family-branded);
    --wf-system---typography-font-family-branded-body: var(--wf-system---typography-font-family-branded);
    --wf-system---typography-font-family-branded-help-text: var(--wf-system---typography-font-family-branded);
    --wf-system---typography-font-weight-semibold: 600;
    --wf-system---typography-font-weight-medium: 600;
    --wf-system---typography-font-weight-normal: 400;
    --wf-system---typography-font-weight-title: var(--wf-system---typography-font-weight-semibold);
    --wf-system---typography-font-weight-heading: var(--wf-system---typography-font-weight-semibold);
    --wf-system---typography-font-weight-body: var(--wf-system---typography-font-weight-normal);
    --wf-system---typography-font-weight-help-text: var(--wf-system---typography-font-weight-normal);
    --wf-system---typography-font-weight-code: var(--wf-system---typography-font-weight-normal);
    --wf-system---typography-font-weight-branded-display-1: var(--wf-system---typography-font-weight-semibold);
    --wf-system---typography-font-weight-branded-display-2: var(--wf-system---typography-font-weight-semibold);
    --wf-system---typography-font-weight-branded-display-3: var(--wf-system---typography-font-weight-semibold);
    --wf-system---typography-font-weight-branded-display-4: var(--wf-system---typography-font-weight-semibold);
    --wf-system---typography-font-weight-branded-display-5: var(--wf-system---typography-font-weight-semibold);
    --wf-system---typography-font-weight-branded-display-6: var(--wf-system---typography-font-weight-semibold);
    --wf-system---typography-font-weight-branded-display-subtitle: var(--wf-system---typography-font-weight-normal);
    --wf-system---typography-font-weight-branded-heading: var(--wf-system---typography-font-weight-semibold);
    --wf-system---typography-font-weight-branded-body: var(--wf-system---typography-font-weight-normal);
    --wf-system---typography-font-weight-branded-help-text: var(--wf-system---typography-font-weight-normal);
    --wf-system---typography-letter-spacing-cramped: -0.006em;
    --wf-system---typography-letter-spacing-narrow: -0.4px;
    --wf-system---typography-letter-spacing-normal: 0px;
    --wf-system---typography-letter-spacing-wide: 0.5px;
    --wf-system---typography-font-size-title: calc(15 / 16* 1rem);
    --wf-system---typography-font-size-heading: calc(13 / 16* 1rem);
    --wf-system---typography-font-size-body: calc(13 / 16* 1rem);
    --wf-system---typography-font-size-help-text: calc(12 / 16* 1rem);
    --wf-system---typography-font-size-code: calc(13 / 16* 1rem);
    --wf-system---typography-font-size-branded-display-1: clamp(calc(32 / 16* 1rem), 6vw, calc(84 / 16* 1rem));
    --wf-system---typography-font-size-branded-display-2: clamp(calc(32 / 16* 1rem), 6vw, calc(60 / 16* 1rem));
    --wf-system---typography-font-size-branded-display-3: clamp(calc(24 / 16* 1rem), 5vw, calc(32 / 16* 1rem));
    --wf-system---typography-font-size-branded-display-4: clamp(calc(18 / 16* 1rem), 4vw, calc(24 / 16* 1rem));
Show all properties (93 more)
}
<style>
.wf-vl64f {
    --wf-system---d1-black: rgba(0, 0, 0, 1);
    --wf-system---d1-black-a-5: rgba(0, 0, 0, 0.05);
    --wf-system---d1-black-a-10: rgba(0, 0, 0, 0.1);
    --wf-system---d1-black-a-25: rgba(0, 0, 0, 0.25);
    --wf-system---d1-black-a-50: rgba(0, 0, 0, 0.50);
    --wf-system---d1-black-a-75: rgba(0, 0, 0, 0.75);
    --wf-system---d1-white: rgba(255, 255, 255, 1);
    --wf-system---d1-white-a-5: rgba(255, 255, 255, 0.05);
    --wf-system---d1-white-a-10: rgba(255, 255, 255, 0.1);
    --wf-system---d1-white-a-25: rgba(255, 255, 255, 0.25);
    --wf-system---d1-white-a-50: rgba(255, 255, 255, 0.50);
    --wf-system---d1-white-a-75: rgba(255, 255, 255, 0.75);
    --wf-system---d1-gray-25: #f6f6f6;
    --wf-system---d1-gray-50: #ebebeb;
    --wf-system---d1-gray-100: #d9d9d9;
    --wf-system---d1-gray-200: #ababab;
    --wf-system---d1-gray-300: #757575;
    --wf-system---d1-gray-350: #696969;
    --wf-system---d1-gray-400: #5e5e5e;
    --wf-system---d1-gray-500: #4d4d4d;
    --wf-system---d1-gray-600: #404040;
    --wf-system---d1-gray-700: #363636;
    --wf-system---d1-gray-800: #2b2b2b;
    --wf-system---d1-gray-900: #212121;
    --wf-system---d1-blue-100: #8AC2FF;
    --wf-system---d1-blue-200: #2496FF;
    --wf-system---d1-blue-300: #0084FF;
    --wf-system---d1-blue-350: #1280EE;
    --wf-system---d1-blue-400: #0073E6;
    --wf-system---d1-blue-500: #0066FF;
    --wf-system---d1-blue-600: #005CE5;
    --wf-system---d1-blue-a-10: rgba(0, 115, 230, 0.1);
    --wf-system---d1-blue-a-20: rgba(0, 115, 230, 0.2);
    --wf-system---d1-blue-a-30: rgba(0, 115, 230, 0.3);
    --wf-system---d1-green-100: #63D489;
    --wf-system---d1-green-200: #2FC862;
    --wf-system---d1-green-300: #00a457;
    --wf-system---d1-green-350: #00944F;
    --wf-system---d1-green-400: #008547;
    --wf-system---d1-green-500: #00713C;
    --wf-system---d1-green-a-10: rgba(0, 133, 71, 0.1);
    --wf-system---d1-green-a-20: rgba(0, 133, 71, 0.2);
    --wf-system---d1-green-a-30: rgba(0, 133, 71, 0.3);
    --wf-system---d1-orange-100: #FFAB66;
    --wf-system---d1-orange-200: #F67E28;
    --wf-system---d1-orange-300: #F85900;
    --wf-system---d1-orange-350: #DD7124;
    --wf-system---d1-orange-400: #C75300;
    --wf-system---d1-orange-a-10: rgba(248, 89, 0, 0.1);
    --wf-system---d1-orange-a-20: rgba(248, 89, 0, 0.2);
Show all properties (170 more)
}
body {
    color: var(--black);
    letter-spacing: -.06em;
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 100%;
}
body {
    color: #333;
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
body {
    margin: 0;
}
<style>
* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
<style>
:root:not(.w-editor) {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
}
<style>
:root:not(.w-editor) {
    --CloseButton--hover--color: currentColor;
    --CloseButton--hover--backgroundColor: transparent;
}
:root {
    --black: #262626;
    --white: #fff;
    --beige: whitesmoke;
    --green: #008a69;
    --white-2: white;
    --black-2: black;
}
<style>
html {
    --wf-designer--textColorLight: #ebebeb;
    --wf-designer--textColor: #d9d9d9;
    --wf-designer--textColorPreloader: #ababab;
    --wf-designer--textColorDim: #ababab;
    --wf-designer--textColorDimmer: #757575;
    --wf-designer--notificationTextColor: #d9d9d9;
    --wf-designer--panelColor: #404040;
    --wf-designer--panelColorLight: #4d4d4d;
    --wf-designer--panelColorLighter: #5e5e5e;
    --wf-designer--panelColorDark: #2b2b2b;
    --wf-designer--panelColorDarker: #212121;
    --wf-designer--panelBorder: #212121;
    --wf-designer--panelHeadDividerBorder: 1px solid var(--wf-designer--borderColorDark);
    --wf-designer--panelActiveShadow: inset -1px 0px 0 0 #212121, -1px -1px 0 0 #212121, 0 2px 0 0 #404040;
    --wf-designer--panelActiveShadowLast: none;
    --wf-designer--panelTabBackground: var(--wf-designer--panelColorDark);
    --wf-designer--panelShadow: inset -1px -1px 0 0 var(--wf-designer--borderColorDark);
    --wf-designer--panelShadowLast: inset 0px -1px 0 0 var(--wf-designer--borderColorDark);
    --wf-designer--panelTabsShadow: none;
    --wf-designer--panelTabBarShadow: 0 -1px 0 0 var(--wf-designer--borderColorDark);
    --wf-designer--token-input-background-disabled: #4d4d4d;
    --wf-designer--token-input-text-disabled: var(--wf-designer--textColorDim);
    --wf-designer--borderColor: #363636;
    --wf-designer--borderColorDark: #212121;
    --wf-designer--borderColorDarker: #212121;
    --wf-designer--insetColor: #363636;
    --wf-designer--insetBorderColor: #2b2b2b;
    --wf-designer--listColor: #363636;
    --wf-designer--listColorHover: #2b2b2b;
    --wf-designer--listBorderColor: #2b2b2b;
    --wf-designer--listSourceBorderColor: #757575;
    --wf-designer--listRowBackgroundHover: var(--wf-designer--panelColorLight);
    --wf-designer--listRowSelectedBackground: var(--wf-designer--panelColorLight);
    --wf-designer--listRowBorder: 1px solid var(--wf-designer--borderColorDark);
    --wf-designer--listRowBigHeight: 45px;
    --wf-designer--listRowColorHover: revert;
    --wf-designer--listGridBorder: 1px solid var(--wf-designer--borderColor);
    --wf-designer--paneBorderColor: var(--wf-designer--borderColorDark);
    --wf-designer--paneHeadHeight: 45px;
    --wf-designer--paneCardColor: var(--wf-designer--panelColorLight);
    --wf-designer--paneCardBorder: 1px solid var(--wf-designer--borderColor);
    --wf-designer--tooltipColor: #ebebeb;
    --wf-designer--tooltipColorText: #212121;
    --wf-designer--tooltipColorBlue: #2496ff;
    --wf-designer--tooltipColorBlueText: white;
    --wf-designer--canvasColor: #5e5e5e;
    --wf-designer--canvasColorDark: #2b2b2b;
    --wf-designer--canvasColorDarker: #212121;
    --wf-designer--breadcrumbColor: #ebebeb;
    --wf-designer--breadcrumbTextColor: #4d4d4d;
Show all properties (162 more)
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
}
